@tailwind base;
@tailwind components;
@tailwind utilities;

.hvh-100 {
    height: 100vh;
}
.img-logo {
    max-width: 163px;
}
.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
